@charset "UTF-8";

/*Обнуление*/

@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  color: #313647;
  background: -o-linear-gradient(10deg, #FFFFFF 0%, #F5F6FA 100%);
  background: linear-gradient(80deg, #FFFFFF 0%, #F5F6FA 100%);
}

button {
  background: #fff;
}

[class*=wrapper] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  padding: 0 0px;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body.lock {
  overflow: hidden;
  position: fixed;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.smool-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.smool-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #777A90;
}

.container-name {
  padding-left: 40px;
  margin-top: 120px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #009A44;
  position: relative;
}

.container-name::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  top: 12px;
  left: 0;
  background-color: #009A44;
}

.item-title {
  margin-top: 8px;
  font-weight: 500;
  font-size: 46px;
  line-height: 120%;
}

.bold {
  font-weight: 700;
}

.green {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 17px 30px;
  background: #009A44;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 154, 68, 0.3);
  box-shadow: 0px 8px 16px rgba(0, 154, 68, 0.3);
  border-radius: 6px;
}

.green:hover {
  background: #429164;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-box-shadow: 2px 3px 30px rgba(0, 154, 68, 0.3);
  box-shadow: 2px 3px 30px rgba(0, 154, 68, 0.3);
  color: #d4d4d4;
}

* {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.burger__menu-body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
  z-index: 10;
  position: fixed;
  color: #FFFFFF;
  overflow: hidden;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: scroll;
  left: -150%;
}

.burger__menu-body ul {
  padding: 25px 35px;
}

.burger__menu-body ul li {
  margin: 25px;
  position: relative;
}

.burger__menu-body ul li a {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
}

.burger__menu-body ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #009A44;
  bottom: -8px;
}

.burger__menu-body._active {
  left: 0%;
}

.header {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 30px -10px rgba(119, 122, 144, 0.15);
  box-shadow: 0px 15px 30px -10px rgba(119, 122, 144, 0.15);
}

.header__container {
  min-height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 10px;
  width: 100%;
  height: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: flex;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__item-img {
  margin-right: 38.5px;
  max-width: 150px;
  min-height: 55px;
}

.menu__item-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}

.menu__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-content: center;
  font-size: 18px;
  line-height: 160%;
  color: #313647;
  margin-right: 40px;
  position: relative;
  height: 100%;
}

.menu__item-link:hover {
  text-shadow: -0.5px -0.5px 0px;
}

.menu__item-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #009A44;
}

.menu__item-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #009A44;
}

.menu__item-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__item-lang-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #777A90;
  margin-right: 20px;
  position: relative;
}

.menu__item-lang-link:not(:last-child) {
  margin-right: 25px;
}

.menu__item-lang-link:first-child::before {
  content: "";
  position: absolute;
  height: 23px;
  width: 2px;
  top: 35%;
  right: -12px;
  background-color: #D1D5DA;
}

.menu__item-lang-link.active {
  color: #202127;
  font-weight: 500;
}

.menu__item-lang-link:hover {
  opacity: 0.5;
}

.menu__item-button {
  margin-left: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.active {
  color: #202127;
  font-weight: 500;
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #009A44;
}

.burger__menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: 0 16px;
}

.burger__menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.burger__menu-button:not(.burger__close):hover > span:nth-child(1)::after {
  width: 80%;
}

.burger__menu-button:not(.burger__close):hover > span:nth-child(2) {
  width: 110%;
}

.burger__menu-button:not(.burger__close):hover > span:nth-child(3)::after {
  width: 60%;
}

.burger__menu-item {
  width: 100%;
}

.burger__menu-item:not(:first-child) {
  margin-top: 10px;
}

.burger__menu-item::after {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 25px;
}

.burger__menu-item:nth-child(1) {
  position: relative;
}

.burger__menu-item:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0px;
  background-color: #000;
}

.burger__menu-item:nth-child(2) {
  position: relative;
}

.burger__menu-item:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0px;
  background-color: #000;
}

.burger__menu-item:nth-child(3) {
  position: relative;
}

.burger__menu-item:nth-child(3)::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0px;
  background-color: #000;
}

.burger__close {
  z-index: 15;
  background-color: transparent;
}

.burger__close > span:nth-child(1)::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
  background-color: #fff;
}

.burger__close > span:nth-child(2) {
  opacity: 0;
}

.burger__close > span:nth-child(3)::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -10px;
  background-color: #fff;
}

.parking-solutions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 192px;
  position: relative;
}

.parking-solutions__info {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.parking-solutions__info h3 {
  margin-top: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: #009A44;
  padding: 10px 20px;
  background: #EBFAE8;
  border-radius: 6px;
}

.parking-solutions__info-box {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.parking-solutions__info-box img {
  width: 40px;
  height: 40px;
}

.parking-solutions__img {
  position: absolute;
  width: 654px;
  height: 530px;
  top: 0;
  right: 0;
  z-index: -1;
}

.parking-solutions__img-screen {
  background-size: contain;
  width: 100%;
  height: 100%;
}

.info-box__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33.33%;
  flex: 1 0 33.33%;
  max-width: 170px;
}

.info-box__card-text {
  margin-top: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-box__card-text p {
  text-align: center;
}

.info-box__card-btm {
  margin-top: 60px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__box {
  margin-top: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.card__box-img {
  width: 50px;
  height: 50px;
  position: relative;
  text-align: left;
}

.card__box-img::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: -1;
  background: #F5F6FA;
}

.card__box-text {
  max-width: 212px;
}

.solutions__container-name {
  margin-top: 240px;
}

.solutions__item-box {
  position: relative;
}

.solutions__item-info {
  margin-top: 88px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  padding: 60px 60px 60px 0;
}

.solutions__item-info p {
  padding-left: 40px;
  border-left: 2px solid #009A44;
}

.item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item__box-image {
  position: absolute;
  z-index: -1;
  top: -150px;
  right: 12px;
  width: 380px;
  height: 630px;
}

.message__double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 77px;
}

.message__double .message__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 372px;
  margin-right: 65px;
  position: relative;
}

.message__double .message__left p::before {
  background-image: url("../img/block/solution/svg/photo3.svg");
  background-position: center top;
}

.message__double .message__left .msg-settings {
  margin-top: 60px;
}

.message__double .message__right {
  position: relative;
  max-width: 285px;
}

.message__double .message__right p::before {
  background-image: url("../img/block/solution/svg/photo2.svg");
  background-position: center top;
}

.message__double .message__right .msg-settings {
  margin-bottom: 60px;
}

.message__right p::before {
  background-image: url("../img/block/solution/svg/photo1.svg");
  background-position: center top;
}

.message__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  margin-top: 75px;
}

.message__center p::before {
  background-image: url("../img/block/solution/svg/photo4.svg");
  background-position: center top;
}

.msg-settings {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  padding: 12px 30px 12px 51px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.89%, #FFFFFF), to(#F5F6FA));
  background: -o-linear-gradient(left, #FFFFFF 0.89%, #F5F6FA 100%);
  background: linear-gradient(90deg, #FFFFFF 0.89%, #F5F6FA 100%);
  -webkit-box-shadow: 0px 15px 20px rgba(119, 122, 144, 0.08);
  box-shadow: 0px 15px 20px rgba(119, 122, 144, 0.08);
  border-radius: 56px;
  position: relative;
}

.msg-settings::after {
  content: "";
  position: absolute;
  left: 15px;
  top: 35%;
  width: 26px;
  height: 26px;
  background-image: url("../img/block/solution/svg/1.svg");
}

.msg-settings::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 95%;
  width: 18px;
  height: 21px;
  background-image: url("../img/block/solution/svg/eb.svg"), url("../img/block/solution/svg/esm.svg");
  background-size: 12px, 8px;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.img-before::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 120%;
  left: 58px;
  background-repeat: no-repeat;
  background-position: -23px -10px;
  background-size: auto;
}

.coice__container-name {
  margin-top: 120px;
}

.coice__block-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blockcard__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 23%;
  flex: 0 1 23%;
}

.blockcard__card:not(:last-child) {
  margin-right: 17px;
}

.blockcard__card-title {
  padding-left: 80px;
  margin-top: 68px;
}

.blockcard__card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blockcard__card-text .smool-text {
  margin-top: 15px;
  padding-right: 40px;
}

.blockcard__card-text img {
  width: 40px;
  height: 40px;
  margin-right: 40px;
}

.blockcard__card-text-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.blockcard__card-text-img::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  left: -13px;
  top: -13px;
  background: #FFFFFF;
  z-index: -1;
  -webkit-box-shadow: 0px 20px 40px -15px rgba(119, 122, 144, 0.5);
  box-shadow: 0px 20px 40px -15px rgba(119, 122, 144, 0.5);
  border-radius: 50%;
}

.blockcard__card-text-img::before {
  content: "";
  position: absolute;
  width: 172px;
  height: 172px;
  border-radius: 50%;
  left: 20px;
  top: -90px;
  background: -o-linear-gradient(315deg, #F5F6FA 0%, #FFFFFF 100%);
  background: linear-gradient(135deg, #F5F6FA 0%, #FFFFFF 100%);
  z-index: -1;
}

.complect__container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40px;
}

.complect__container-box:not(:last-child) {
  margin-bottom: 50px;
}

.complect__box-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px 20px 0px 55px;
  min-width: 216px;
}

.complect__box-price p {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #777A90;
  -webkit-text-decoration: line-through 2px;
  text-decoration: line-through 2px;
}

.complect__box-price h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 10px;
}

.complect__box-price h4 {
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #777A90;
}

.complect-box__img {
  min-width: 480px;
  min-height: 280px;
  background: #FFFFFF;
  border-radius: 0px 30px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.box-img__screen {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.box-info {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.box-info__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  margin: 40px 0 20px 0;
}

.box-info__title span {
  text-transform: uppercase;
}

.box-info__subtitle {
  padding-right: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  padding-bottom: 20px;
}

.box-info__list-item {
  padding-bottom: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-indent: 19px;
}

.box-info__list-item::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #009A44;
  margin-right: 15px;
  margin-bottom: 3px;
  border-radius: 50%;
}

.box-info__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  min-height: 118px;
  display: none;
}

.box-info__price div > p {
  margin-right: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #777A90;
  text-decoration: line-through;
}

.box-info__price div > h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
}

.box-info__box-price-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.box-info__box-price-info h4 {
  margin-right: 15px;
}

.stage {
  width: 100%;
}

.stage__container {
  margin: 0 auto;
}

.stage__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -ms-flex-negative: 2;
  flex-shrink: 2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.stage__cards-cards {
  text-align: center;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 23%;
  flex: 0 1 23%;
  min-width: 260px;
  padding: 15px 5px 25px 5px;
  position: relative;
}

.stage__cards-cards::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  bottom: 0;
  left: 31%;
  background-color: #009A44;
}

.stage__cards-cards::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -15px;
  right: -10px;
  background-image: url("../img/block/stage/chevron.svg");
}

.stage__cards-cards.finish::before {
  width: 0px;
  height: 0px;
}

.stage__button {
  text-align: center;
  margin-top: 80px;
}

.stage-card__img {
  text-align: center;
}

.stage-card__img img {
  width: 60px;
}

.stage-card__img-screen {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.stage-card__img-screen::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  left: -10px;
  top: -10px;
  border-radius: 50%;
  z-index: -1;
  background-color: #ffffff;
}

.stage-card__title {
  margin-top: 26px;
  text-align: center;
  padding: 0 31px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.stage-card__text {
  text-align: center;
  margin-top: 10px;
  line-height: 170%;
  color: #777A90;
}

.box-big__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-big__panel img {
  margin-right: 20px;
}

.equipment__container-title {
  margin-bottom: 28px;
}

.equipment__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.equipment__box .left-panel {
  margin-right: 20px;
}

.equipment__left-panel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.equipment__right-panel {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.general_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.left-panel__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  border-radius: 0px 30px;
  padding-bottom: 8px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

.left-panel__card:not(:last-child) {
  margin-bottom: 22px;
}

.left-panel__card-img {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.left-panel__card-img-screen {
  width: 270px;
  height: 270px;
}

.left-panel__card-info {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.left-panel__card-info-title {
  margin-bottom: 10px;
  padding-top: 0px;
}

.left-panel__card-info-text {
  width: 100%;
}

.right-panel__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 30px 0px;
  width: 100%;
}

.right-panel__card:last-child {
  margin-left: 20px;
}

.right-panel__card-info {
  padding: 20px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.right-panel__card-info-title {
  margin-bottom: 20px;
}

.right-panel__card-img {
  width: 270px;
  height: 270px;
}

.right-panel__card-img-screen {
  width: 100%;
  height: 100%;
}

.equipment .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.equipment .reverse .left-panel {
  margin-top: 0;
  margin-left: 20px;
  margin-right: 0;
}

.equipment__box-big {
  background: #FFFFFF;
  border-radius: 0px 30px;
  margin: 10px;
  padding: 15px;
}

.slider__container {
  padding: 40px 0px 135px 0;
}

.main__slider-container-title {
  margin-bottom: 60px;
}

.slider__container {
  max-width: 1180px;
  overflow: hidden;
}

.slider__item {
  width: 380px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.slider__item img {
  border-radius: 30px;
  background-color: #454545;
  margin-right: 20px;
}

.slider__item img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 0.8;
}

.slider__item::before {
  content: "UHF";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FF9436;
  bottom: 60px;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  width: 100px;
  position: absolute;
  background-color: #fff;
  height: 100px;
  border: 4px solid #FF9436;
  border-radius: 50%;
  z-index: 2;
  background-repeat: no-repeat;
}

.slider__item-text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.slider__navic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider__info-card {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider__info-card-img {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
  width: 30px;
  height: 30px;
  margin-bottom: 50px;
  position: relative;
}

.slider__info-card-img::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  top: -20px;
  left: -20px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 20px 40px -15px rgba(119, 122, 144, 0.5);
  box-shadow: 0px 20px 40px -15px rgba(119, 122, 144, 0.5);
  z-index: -1;
}

.footer__container {
  margin-bottom: 35px;
}

.footer__container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: #777A90;
}

@media (max-width: 1160px) {
  .menu__item-link {
    margin-right: 25px;
  }
}

@media (max-width: 1130px) {
  .complect__box-price {
    display: none;
  }

  .box-info__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1100px) {
  .menu__item-link {
    margin-right: 15px;
    font-size: 16px;
  }

  .menu__item-lang-link {
    font-size: 16px;
  }

  .menu__item-button {
    margin-left: 15px;
    font-size: 14px;
  }

  .menu__item-button {
    padding: 9px 16px;
  }

  .message__double {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  .message__double .message__right {
    max-width: 100%;
    margin-top: 60px;
  }

  .message__double .message__left .msg-settings {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .message__center {
    display: block;
    margin-top: 20px;
  }
}

@media (max-width: 1050px) {
  .blockcard__card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 47%;
    flex: 0 1 47%;
  }
}

@media (max-width: 1024px) {
  .card__box-text {
    max-width: 150px;
  }

  .card__box-text:not(:first-child) {
    margin-right: 40px;
  }
}

@media (max-width: 1020px) {
  .equipment__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;
  }

  .equipment__box .left-panel {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .general_panel {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .right-panel__card {
    margin: 0px;
  }

  .equipment .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 980px) {
  .menu__item-img {
    max-width: 120px;
    min-height: 44px;
    margin-right: 31px;
  }
}

@media (max-width: 970px) {
  .parking-solutions__img {
    width: 454px;
    height: 330px;
  }

  .solutions__item-info {
    margin-top: 40px;
  }
}

@media (max-width: 920px) {
  .complect__container-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .complect__box-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .complect-box__img {
    height: 250px;
  }

  .box-info__price {
    display: none;
  }
}

@media (max-width: 915px) {
  .menu__item-lang {
    display: none;
  }
}

@media (max-width: 850px) {
  .menu__item-link {
    display: none;
  }

  .burger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 800px) {
  .parking-solutions__img {
    opacity: 0.2;
  }

  .slider__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .header__container {
    min-height: 60px;
  }
}

@media (max-width: 760px) {
  .container-name {
    margin-top: 100px;
  }

  .parking-solutions__container {
    margin-top: 92px;
  }

  .item__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .item__box-image {
    position: static;
  }

  .message__center {
    margin-bottom: 60px;
  }

  .blockcard__card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

@media (max-width: 600px) {
  .equipment__right-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px 0;
  }
}

@media (max-width: 560px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
  }

  .card__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
  }

  .card__box-text {
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .parking-solutions__info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .info-box__card-btm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .container-name {
    margin-top: 50px;
  }

  .item-title {
    font-size: 28px;
  }

  .parking-solutions__container {
    margin-top: 20x;
  }

  .solutions__item-box {
    margin-top: 20px;
  }

  .solutions__item-info {
    margin-top: 20px;
  }

  .solutions__item-info {
    font-size: 15px;
    margin-top: 0px;
  }

  .complect-box {
    max-width: 320px;
  }

  .box-img__screen {
    width: 300px;
  }

  .box-info__title {
    font-size: 20px;
  }

  .box-info__subtitle {
    font-size: 14px;
  }

  .box-big__panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px 0;
  }

  .left-panel__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px 0;
  }
}

@media (max-width: 400px) {
  .equipment__box {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .menu__item-img {
    margin-right: 0px;
    max-width: 94px;
    min-height: 34px;
  }
}